@import './normalize.scss';
@import './fonts.scss';
@import './_mixins.scss';
@import './_variables';

// Blocks
@import './blocks/header.scss';
@import './blocks/main-menu.scss';
@import './blocks/btn.scss';
@import './blocks/main-title.scss';
@import './blocks/main-title-description.scss';
@import './blocks/lang-select.scss';
@import './blocks/header-image.scss';
@import './blocks/section-title.scss';
@import './blocks/widget-example.scss';
@import './blocks/trust-us.scss';
@import './blocks/about-webstoryz.scss';
@import './blocks/key-metrics.scss';
@import './blocks/market-leaders.scss';
@import './blocks/effective-tool.scss';
@import './blocks/install-widget.scss';
@import './blocks/four-steps.scss';
@import './blocks/features.scss';
@import './blocks/tariffs.scss';
@import './blocks/switch.scss';
@import './blocks/additional-services.scss';
@import './blocks/setup-by-command.scss';
@import './blocks/cms.scss';
@import './blocks/bonus.scss';
@import './blocks/examples.scss';
@import './blocks/footer.scss';

* {
  box-sizing: border-box;
}
body {
  font-family: 'Manrope', 'Roboto', sans-serif;
}
.container {
  min-width: 320px;
  overflow-x: hidden;
}
.wrap {
  width: 100%;
  max-width: 1250px;
  padding: 0 40px;
  margin: 0 auto;

  @media screen and (max-width: 420px) {
    padding: 0 20px;
  }
}