.about-webstoryz {
  background: url('../../images/main/about-webstoryz/about-webstoryz-bg.jpg') no-repeat;
  background-size: cover;
  padding: 160px 0;

  @media screen and (max-width: 920px) {
    padding: 100px 0;
  }

  & .wrap {
    display: flex;

    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }
  &__text-block {
    font-size: 2.375rem;
    line-height: 1.47;
    font-weight: 800;
    color: white;
    position: relative;
    z-index: 10;
    margin: 80px 60px 0 0;

    @media screen and (max-width: 920px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 720px) {
      margin: 0 0 40px 0;
    }

    @media screen and (max-width: 420px) {
      font-size: 1.3125rem;
    }

    & a {
      display: inline-flex;
      align-items: center;
      height: 50px;
      border-radius: 8px;
      text-decoration: none;
      cursor: pointer;
      padding-bottom: 5px;
    }
    & .popular-format {
      color: #8C30F5;

      &.active {
        background-color: #8C30F5;
        color: white;
      }
    }
    & .interactive {
      color: #EF30F5;

      &.active {
        background-color: #EF30F5;
        color: white;
      }
    }
    & .personalized {
      color: #3036F5;

      &.active {
        background-color: #3036F5;
        color: white;
      }
    }
  }
  &__image {
    display: none;
    flex: none;
    width: 280px;
    height: fit-content;
    position: relative;
    transform: translateX(100px);
    transition: all 1.5s;

    @media screen and (max-width: 720px) {
      align-self: center;
    }

    &-like {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: -51px;
      top: 80px;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 18px 18px 24px -6px rgba(24, 39, 75, 0.14);
      z-index: 2;
    }
    &-yes-no {
      position: absolute;
      right: -105px;
      top: 265px;
      z-index: 2;
    }
    &-button {
      position: absolute;
      left: -96px;
      bottom: -9px;
      width: 309px;
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 199, 0, 0.7);
      backdrop-filter: blur(8px);
      border-radius: 46px;
      z-index: 2;
    }
    &-tap {
      position: absolute;
      left: 114px;
      bottom: -119px;
      z-index: 3;
    }

    &.active {
      display: block;
      transform: translateX(0);
      opacity: 1;
    }

    &.fade-out {
      opacity: 0;
      transform: translateX(100px);
    }

    &.fade-in {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
