.bonus {
  padding: 144px 0 68px;

  & .wrap {
    display: flex;

    @media screen and (max-width: 860px) {
      flex-direction: column;
    }
  }
  &__subtitle {
    font-size: 1.125rem;
    line-height: 1;
    margin: 0 0 15px 0;
  }
  &__text-block {
    width: 45%;
    padding-right: 104px;

    @media screen and (max-width: 860px) {
      width: 100%;
      padding: 0;
      margin-bottom: 50px;
    }
  }
  & .section-title {
    margin-bottom: 35px;
  }
  &__features-list {
    padding: 0;
    margin: 0;

    & li {
      list-style: none;
      background: url('../../images/main/bonus/right-arrow.svg') no-repeat left 5px;
      font-size: 1rem;
      line-height: 1.5;
      color: $font-grey;
      padding-left: 45px;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
  &__chat {
    display: flex;
    flex-direction: column;
    width: 55%;

    @media screen and (max-width: 860px) {
      width: 100%;
    }

    false {
      align-self: flex-start;
    }
    & img:nth-child(2n) {
      align-self: flex-end;
    }
    & img:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}