.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #CAF530 0%, #BDE826 100%);
  border-radius: 8px;
  border: none;
  color: #18191F;
  font-weight: 700;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  transition: all .2s;

  &.small {
    height: 40px;
    font-size: .875rem;
    padding: 0 20px;
  }
  &.big {
    height: 70px;
    font-size: 1.25rem;
    line-height: 1.33;
    box-shadow: 0px 3px 8px rgba(194, 226, 50, 0.5), 0px 15px 20px rgba(194, 226, 50, 0.25);
    padding: 0 40px;

    &:hover {
      background: linear-gradient(180deg, #E1FF75 0%, #BAE325 100%);
      box-shadow: 0px 3px 8px rgba(194, 226, 50, 0.5), 0px 15px 30px rgba(194, 226, 50, 0.45);
    }

    &:active {
      background: linear-gradient(180deg, #9EC419 0%, #82A600 100%);
      box-shadow: 0px 3px 8px rgba(144, 172, 20, 0.5), 0px 15px 20px rgba(144, 172, 19, 0.25);
    }

    @media screen and (max-width: 920px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 720px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 420px) {
      font-size: 1rem;
    }
  }
}
.btn-outlined {
  font-weight: 700;
  line-height: 1;
  border-radius: 8px;
  border: 1px solid;
  background: none;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .2s;

  &.small {
    height: 40px;
    font-size: .875rem;
    padding: 0 20px;
  }
  &.big {
    height: 70px;
    font-size: 1.25rem;
    padding: 0 40px;

    &:hover {
      border: 1px solid #2F0C41;
      background: #2F0C41;
    }

    &:active {
      border: 1px solid #240733;
      background: #240733;
    }

    @media screen and (max-width: 920px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 720px) {
      font-size: 1.25rem;
    }
  }
  &.medium {
    height: 48px;
    font-size: 1.25rem;
    padding: 0 30px;

    @media screen and (max-width: 420px) {
      font-size: 1rem;
    }
  }
  &.light {
    color: white;
    border-color: white;
  }
  &.green {
    border: 2px solid #C1E717;
    color: $font-black;
  }
}
