.cms {
  background: linear-gradient(180deg, #1C1A1C 0%, #47175F 100%), #C4C4C4;
  padding: 155px 0 176px;

  & .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .section-title {
    max-width: 690px;
    margin-bottom: 24px;
  }
  &__description {
    font-size: 1.5rem;
    line-height: 1.33;
    font-weight: 400;
    color: white;
    text-align: center;
    max-width: 930px;
    margin: 0 0 53px 0;

    @media screen and (max-width: 540px) {
      font-size: 1.125rem;
      line-height: 1.56;
    }
  }
  &__logotypes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 44px;
    width: 95%;

    @media screen and (max-width: 860px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
    }

    @media screen and (max-width: 540px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 375px) {
      gap: 40px;
    }

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & img {
      width: 100%;
      object-position: center;
    }
  }
}