.features {
  background-image: linear-gradient(to bottom, #ECF1FF, #F2ECFF);
  padding: 100px 0 130px;

  @media screen and (max-width: 420px) {
    padding: 80px 0;
  }

  &__title {
    font-size: 2.375rem;
    line-height: 1.47;
    font-weight: 800;
    color: $font-black;
    margin: 0 0 70px;

    @media screen and (max-width: 640px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 420px) {
      font-size: 1.3rem;
    }
  }
  &__tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;

    @media screen and (max-width: 1140px) {
      overflow-x: scroll;
    }
  }
  &__tab {
    font-size: 1.5rem;
    line-height: 1;
    color: $violet;
    opacity: .35;
    text-decoration: none;
    font-weight: 800;
    transition: opacity .2s;

    &:not(:last-child) {
      margin-right: 20px;
    }
    &:not(.active):hover {
      opacity: .5;
    }
    &.active {
      opacity: 1;
    }
  }
  &__tab-text-block {
    @media screen and (max-width: 1024px) {
      padding-top: 80px;
    }
  }
  &__list {
    padding: 0;
    margin: 0;

    &-title {
      font-size: 1.5rem;
      line-height: 1.67;
      color: $font-black;
      font-weight: 600;
      margin: 0 0 38px;
    }
    &-item {
      display: flex;
      align-items: center;
      list-style: none;

      &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        background: #FFFFFF;
        border: 1px solid #E3E3E3;
        border-radius: 50%;
        width: 72px;
        height: 72px;
        margin-right: 15px;
      }
      & span {
        font-size: 1.125rem;
        line-height: 1.56;
        font-weight: 700;
        color: $font-black;

        @media screen and (max-width: 720px) {
          font-size: 1rem;
        }
      }
    }
  }
  &__tab-content {
    display: flex;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    &#customizationTabContent {
      .features__tab-image {
        position: relative;
        height: fit-content;
        padding-left: 120px;
        margin-right: 64px;

        @media screen and (max-width: 460px) {
          transform: scale(.8);
          transform-origin: left;
        }

        .circles {
          background: #fff;
          box-shadow: -2px 4px 45px rgba(0, 0, 0, 0.13);
          border-radius: 16px;
          width: fit-content;
          padding: 30px 30px 30px 40px;
        }
        .roboto {
          position: absolute;
          left: 46px;
          bottom: -34px;
          background: #fff;
          box-shadow: -2px 4px 45px rgba(0, 0, 0, 0.13);
          border-radius: 16px;
          z-index: 2;
          padding: 32px 40px;
        }
        .t-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #F157D8;
          width: 60px;
          height: 60px;
          border-radius: 12px;
          position: absolute;
          left: 18px;
          bottom: 50px;
          z-index: 3;
        }
      }
      & .features__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 50px;

        @media screen and (max-width: 620px) {
          grid-template-columns: 1fr;
        }
      }
    }
    &#analyticsTabContent {
      .features__tab-image {
        position: relative;
        margin-right: 68px;

        .diagram {
          border-radius: 16px;
          background: #fff;
          box-shadow: -2px 4px 45px rgba(0, 0, 0, 0.13), inset 0px 2px 2px rgba(255, 255, 255, 0.25);
          padding-top: 26px;
        }
      }
      & .features__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 50px;
        padding-top: 40px;
      }
    }
    &#convertationTabContent {
      .features__tab-image {
        position: relative;
        margin-right: 68px;

        .man {
          border-radius: 16px;
          width: 350px;
          height: 350px;
          object-fit: cover;
        }
        .smiles {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 68px;
          width: 100%;
          max-width: 302px;
          border-radius: 34px;
          background-color: #fff;
          box-shadow: -2px 4px 45px rgba(0, 0, 0, 0.13);
          font-size: 2.19rem;
          position: absolute;
          left: -54px;
          top: -34px;
          padding: 0 32px;
        }
        .yes-no {
          position: absolute;
          right: 18px;
          top: 319px;
        }
      }
      & .features__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        &-title {
          margin-bottom: 30px;
        }
      }
    }
    &#mobileTabContent {
      .features__tab-image {
        position: relative;
        margin-right: 68px;

        .man {
          border-radius: 16px;
          width: 350px;
          height: 350px;
          object-fit: cover;
        }
      }
      & .features__list {
        margin-bottom: 34px;

        &-item {
          max-width: 440px;

          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
      }
    }
    &#personalizationTabContent {
      .features__tab-image {
        position: relative;
        margin-right: 68px;

        .woman {
          border-radius: 16px;
          width: 350px;
          height: 350px;
          object-fit: cover;
        }
      }
      & .features__list {
        margin-bottom: 34px;

        &-item {
          max-width: 440px;

          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  &__links-list {
    border: 1px dashed #18161D;
    border-radius: 8px;
    width: fit-content;
    padding: 25px 46px;
    margin: 0;

    & li {
      list-style: none;
      font-size: .875rem;
      font-weight: 600;
      line-height: 1.33;

      &:not(:last-child) {
        margin-bottom: 13px;
      }
      & a {
        color: $font-black;
        text-decoration: none;
        padding-right: 24px;
        position: relative;

        &::after {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          background: url('../../images/main/features/tab-4/share.svg') no-repeat;
          position: absolute;
          right: 0;
          top: calc(50% - 8px);
        }
      }
    }
  }
}