.install-widget {
  background-color: #C7F22D;
  padding: 137px 0 276px;

  @media screen and (max-width: 720px) {
    padding: 100px 0;
  }

  & .section-title {
    max-width: 540px;
    margin: 0 0 40px 0;
  }
  &__content {
    display: flex;
    padding-right: 144px;

    @media screen and (max-width: 960px) {
      padding-right: 0;
    }

    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }
  &__text-block {
    position: relative;
    z-index: 10;
    padding-top: 36px;
    margin-right: 92px;

    @media screen and (max-width: 720px) {
      margin: 0 0 68px 0;
    }
  }
  &__description {
    font-size: 1.125rem;
    line-height: 1.78;
    color: $font-black;
    font-weight: 400;
    max-width: 375px;
    margin-bottom: 54px;
  }
  &__hot-zone {
    display: flex;
    align-items: center;
    border: 1px dashed #18161D;
    border-radius: 8px;
    padding: 18px 28px;

    @media screen and (max-width: 960px) {
      flex-direction: column;
      align-items: flex-start;
    }

    & img {
      margin-right: 22px;
    }
    & span {
      font-size: .875rem;
      line-height: 1.714;
      font-weight: 600;
      color: $font-black;

      & span {
        color: #FF0000;
      }
    }
  }
  &__image {
    position: relative;

    @media screen and (max-width: 720px) {
      align-self: center;
    }

    @media screen and (max-width: 420px) {
      transform: scale(.8);
      transform-origin: top;
    }

    & .phone {
      position: relative;
      z-index: 2;
    }
    & .coin {
      position: absolute;
      top: 20px;
      left: -50px;
      z-index: 1;
    }
    & .timer {
      position: absolute;
      top: 193px;
      left: -148px;
      box-shadow: 18px 24px 32px -6px rgba(24, 39, 75, 0.14);
      z-index: 3;
    }
    & .widget {
      position: absolute;
      top: 83px;
      left: 38px;
      width: 383px;
      z-index: 3;
    }
    & .qwiz {
      position: absolute;
      top: 256px;
      left: 225px;
      box-shadow: 18px 24px 32px -6px rgba(24, 39, 75, 0.14);
      z-index: 3;
    }
    & .to-catalog {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 375px;
      height: 112px;
      position: absolute;
      top: 503px;
      left: 9px;
      background: rgba(141, 61, 241, 0.70);
      backdrop-filter: blur(10px);
      border-radius: 56px;
      z-index: 3;
    }
    & .finger {
      position: absolute;
      left: 147px;
      top: 80px;
      height: 142px;
      width: 107px;
      z-index: 4;
    }
  }
}