.main-menu {
  & ul {
    display: flex;
    margin: 0;
    padding: 0;

    & li {
      list-style: none;
      font-size: .875rem;
      font-weight: 700;
      line-height: 1.43;

      &:not(:last-child) {
        margin-right: 40px;
      }
      & a {
        color: white;
        text-decoration: none;
      }
    }
  }
  @media screen and (max-width: 1140px) {
    display: none;
  }
}