.market-leaders {
  margin-bottom: 140px;

  @media screen and (max-width: 720px) {
    margin-bottom: 70px;
  }

  & .wrap {
    display: flex;
    align-items: center;

    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }
  &__text-block {
    width: 50%;

    @media screen and (max-width: 720px) {
      width: 100%;
    }

    & .section-title {
      max-width: 460px;

      @media screen and (max-width: 720px) {
        text-align: center;
        max-width: none;
      }
    }
  }
  &__image {
    width: 50%;

    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }
  &__list {
    max-width: 460px;
    margin: 62px 0 0;
    padding: 0;

    @media screen and (max-width: 720px) {
      max-width: none;
    }

    & li {
      font-size: 1.5rem;
      line-height: 1.33;
      font-weight: 400;
      color: $font-grey;
      position: relative;
      list-style: none;
      padding-left: 34px;

      @media screen and (max-width: 420px) {
        font-size: 1.125rem;
      }

      &:not(:last-child) {
        margin-bottom: 36px;
      }
      &::before {
        content: '';
        display: block;
        width: 17px;
        height: 17px;
        background: url('../../images/main/market-leaders/list-marker-icon.svg') no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 7px;
      }
    }
  }
}