.trust-us {
  padding: 90px 0 90px;

  & .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .section-title {
    text-align: center;
  }
  &__description {
    font-size: 1rem;
    font-weight: 400;
    color: $font-grey;
    line-height: 1.5;
    max-width: 495px;
    text-align: center;
    margin: 23px 0 30px;
  }
  &__card-not-required {
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    color: $font-black;
    position: relative;
    padding-left: 26px;
    margin: 25px 0 0;

    &::before {
      content: '';
      display: block;
      width: 17px;
      height: 17px;
      background: url('../../images/main/trust-us/check-icon.svg') no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: calc(50% - 8px);
    }
  }
  &__logotypes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    row-gap: 30px;
    column-gap: 10px;
    width: 100%;
    margin-bottom: 50px;

    @media screen and (max-width: 920px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 470px) {
      column-gap: 40px;
    }
  }
  &__logotype {
    display: flex;
    align-items: center;
    justify-content: center;

    &.mgts img {
      width: 140px;
    }
    &.organika img {
      width: 105px;
    }
    &.ceo-rooms img {
      width: 153px;
    }
    &.startup-show img {
      width: 142px;
    }
    &.progressme img {
      width: 160px;
    }
    &.davines img {
      width: 160px;
    }
    &.iiko img {
      width: 143px;
    }
    &.mone img {
      width: 106px;
    }
    &.glaveda img {
      width: 157px;
    }
    &.foodband img {
      width: 104px;
    }
    &.mgts img,
    &.organika img,
    &.ceo-rooms img,
    &.startup-show img,
    &.progressme img,
    &.davines img,
    &.iiko img,
    &.mone img,
    &.glaveda img,
    &.foodband img {
      @media screen and (max-width: 470px) {
        width: 100%;
      }
    }
  }
}